<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop  
        http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<context:component-scan base-package="com.maijia.mq">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Component"/>
		<!-- 这里可能是个坑（可能会导致类被重复创建，一个归属于spring的上下文，一个归属于dispatcherServlet）所以要小心配置啊 -->
	</context:component-scan>

	<context:component-scan base-package="com.maijia.mq.webtest.aspect">
	</context:component-scan>

	<!--todo 有点丑陋，客户端zk相关的最好改成xml配置-->
	<context:component-scan base-package="com.maijia.mq.client">
	</context:component-scan>

	<aop:aspectj-autoproxy/><!--<aop:aspectj-autoproxy proxy-target-class="true"/>会强制使用cglib代理，否则看情况（是否继承接口）选择jdk代理还是cglib代理-->


</beans>
