<?xml version="1.0" encoding="utf-8"?>
<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="maijia-mq-dubbo" />

	<dubbo:registry protocol="zookeeper"
		address="zoo4.superboss.cc:30002,zoo5.superboss.cc:30002,zoo6.superboss.cc:30002" />

	<dubbo:protocol name="dubbo" port="37890"/>

	<bean id="mqService" class="com.maijia.mq.service.impl.MqServiceImpl"/>
	<dubbo:service interface="com.maijia.mq.service.IMqService" ref="mqService" timeout="30000" version="${dubbo.data.version}" />

	<bean id="fastMqService" class="com.maijia.mq.service.impl.FastMqServiceImpl"/>
	<dubbo:service interface="com.maijia.mq.service.IFastMqService" ref="fastMqService" timeout="30000" version="${dubbo.data.version}" />

	<bean id="cacheMqService" class="com.maijia.mq.service.impl.CacheMqServiceImpl"/>
	<dubbo:service interface="com.maijia.mq.service.ICacheMqService" ref="cacheMqService" timeout="30000" version="${dubbo.data.version}" />

	<bean id="fileMqService" class="com.maijia.mq.service.impl.FileMqServiceImpl"/>
	<dubbo:service interface="com.maijia.mq.service.IFileMqService" ref="fileMqService" timeout="30000" version="${dubbo.data.version}" />

	<!-- 电商平台数据查询服务 url="127.0.0.1:30018" -->
	<!--<dubbo:reference url="${data.url}" init="true" id="etlInfoService"     interface="com.maijia.data.monitor.service.IEtlInfoService"     version="${data.version}" timeout="30000" />-->
	<!--<dubbo:reference url="${data.url}" init="true" id="industryCatService" interface="com.maijia.data.monitor.service.IIndustryCatService" version="${data.version}" timeout="30000" />-->
	<!--<dubbo:reference url="${data.url}" init="true" id="industryService"    interface="com.maijia.data.monitor.service.IIndustryService"    version="${data.version}" timeout="30000" />-->
	<!--<dubbo:reference url="${data.url}" init="true" id="shopService"        interface="com.maijia.data.monitor.service.IShopService"        version="${data.version}" timeout="30000" />-->
	<!--<dubbo:reference url="${data.url}" init="true" id="itemService"        interface="com.maijia.data.monitor.service.IItemService"        version="${data.version}" timeout="30000" />-->

</beans>