<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://code.alibabatech.com/schema/dubbo
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="maijia_mq_web"/>

    <dubbo:registry protocol="zookeeper"
                    address="zoo4.superboss.cc:30002,zoo5.superboss.cc:30002,zoo6.superboss.cc:30002"/>

    <!-- 消息队列 -->
<!--    <dubbo:reference url="127.0.0.1:37890" init="true" id="mqService" interface="com.maijia.mq.service.IMqService"
                     version="${dubbo.data.version}" timeout="30000"/>-->
    <dubbo:reference init="true" id="mqService" interface="com.maijia.mq.service.IMqService"
                     version="${dubbo.data.version}" timeout="30000"/>
    <dubbo:reference init="true" id="fastMqService" interface="com.maijia.mq.service.IFastMqService"
                     version="${dubbo.data.version}" timeout="30000"/>
    <dubbo:reference init="true" id="cacheMqService" interface="com.maijia.mq.service.ICacheMqService"
                     version="${dubbo.data.version}" timeout="30000"/>
    <dubbo:reference init="true" id="fileMqService" interface="com.maijia.mq.service.IFileMqService"
                     version="${dubbo.data.version}" timeout="30000"/>

</beans>